// ion-item{
//     --background: #3880ff;
//     --color: #fff;
// }
// ion-button{
//     --background: #062f77;
// }
.text-center {
  text-align: center;
}
ion-icon {
  font-size: 7rem;
  margin-top: 30%;
}
.icon {
  text-align: center;
  margin-bottom: 0px;
  margin-top:10vh;
}
ion-button {
  --border-radius: 18px;
  margin-top: 16%;
}
span {
  font-size: 1.5rem;
  font-weight: 500;
}
.mt50 {
  margin-top: 60px;
}
.mtv4 {
  margin-top: 4vh;
}
