<ion-app>
  <ion-content class="ion-padding login_top">
    <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.valid, loginForm.value)">
      <ion-list>
        <div class="login_img">
          <img src="../../../assets/images/login_img.png" />
        </div>
        <h3 class="ion-text-center mb30">Welcome Back!</h3>
        <ion-row>
          <ion-col size="12" class="relative">
            <ion-input
              id="user-Name"
              name="userName"
              placeholder="Username or email"
              required
              formControlName="userName"
            ></ion-input>
            <ion-icon name="person-outline" class="icon"></ion-icon>
          </ion-col>
          <ion-col size="12" class="relative">
            <ion-input
              type="password"
              name="password"
              placeholder="Password"
              required
              formControlName="password"
            ></ion-input>
            <ion-icon name="lock-open-outline" class="icon"></ion-icon>
          </ion-col>
          <ion-col size="12" class="mb30">
            <button type="submit">Login</button>
          </ion-col>

          <ion-col size="12" class="ion-text-center">
            <p><a href="#!">Forgot Password?</a></p>
            <p>Don't have an account? <a href="#!">Register</a></p>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
  </ion-content>
</ion-app>
