<form [formGroup]="signupForm" (ngSubmit)="submit(signupForm.valid, signupForm.value)" class="">
  <ion-list>
    <ion-row class="mt10">
      <ion-col size="12" class="relative">
        <ion-text>Mobile No. <span class="text-danger">*</span></ion-text>
        <ion-input placeholder="Mobile No" type="text" formControlName="MobileNo"></ion-input>
        <ion-text
          color="danger"
          *ngIf="
            !signupForm.get('MobileNo').hasError('MobileNo') &&
            signupForm.get('MobileNo').hasError('required') &&
            (signupForm.get('MobileNo').dirty || signupForm.get('MobileNo').touched)
          "
        >
          * Mobile Number is Required
        </ion-text>
        <ion-text
          color="danger"
          *ngIf="
            signupForm.get('MobileNo').hasError('minlength') ||
            signupForm.get('MobileNo').hasError('maxlength')
          "
        >
          Enter valid mobile number
        </ion-text>
      </ion-col>
      <ion-col size="12" class="relative">
        <ion-text>Full Name <span class="text-danger">*</span></ion-text>
        <ion-input placeholder="Full Name" required formControlName="FullName"></ion-input>
        <ion-text
          color="danger"
          *ngIf="
            !signupForm.get('FullName').hasError('FullName') &&
            signupForm.get('FullName').hasError('required') &&
            (signupForm.get('FullName').dirty || signupForm.get('FullName').touched)
          "
        >
          * Full Name is Required
        </ion-text>
      </ion-col>
      <ion-col size="12" class="relative">
        <ion-text>Password <span class="text-danger">*</span></ion-text>
        <ion-input
          placeholder="Password"
          (ionChange)="password_check()"
          required
          formControlName="Password"
        ></ion-input>
        <ion-text
          color="danger"
          *ngIf="
            !signupForm.get('Password').hasError('Password') &&
            signupForm.get('Password').hasError('required') &&
            (signupForm.get('Password').dirty || signupForm.get('Password').touched)
          "
        >
          * Password is Required
        </ion-text>
        <ion-text
          class="text-small"
          color="danger"
          *ngIf="signupForm.get('Password').hasError('error')"
        >
          Password contain atleast 6 characters long including 1 uppercase, 1 special & alphanumeric
          characters.
        </ion-text>
      </ion-col>
      <ion-col size="12" class="relative">
        <ion-text>Confirm Password <span class="text-danger">*</span></ion-text>
        <ion-input
          placeholder="Confirm Password"
          required
          formControlName="ConfirmPassword"
        ></ion-input>

        <ion-text
          color="danger"
          *ngIf="
            signupForm.get('ConfirmPassword').value &&
            signupForm.get('Password').value !== signupForm.get('ConfirmPassword').value
          "
        >
          * Password doesn't matched
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="mb30">
        <button
          type="submit"
          [ngStyle]="{
            'background-color': signupForm.invalid ? '#ff00009e' : 'red'
          }"
          [disabled]="!signupForm.valid"
        >
          Next
        </button>
      </ion-col>
      <ion-col size="6" class="mb30">
        <button class="cancel" type="button" routerLink="">Cancel</button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <p>Already have an account? <a routerLink="../../signup">Login</a></p>
      </ion-col>
    </ion-row>
  </ion-list>
</form>
