<ion-header>
  <ion-row>
    <ion-col size="8">
      <marquee
        direction="left"
        scrolldelay="600"
        behavior="loop"
        [scrollAmount]="scrollAmount"
        (mouseover)="scrollAmount = 0"
        (mouseout)="scrollAmount = 4"
      >
        <ion-text class="text-small">
          वित्तीय वर्ष 2020-21 के लिए अशासकीय संस्थाओं को स्वीकृति आदेश</ion-text
        >
      </marquee>
    </ion-col>
    <ion-col size="4">
      <a [routerLink]="['../signup']" class="anchor">Login/Signup</a>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content [fullscreen]="true" class="padding-5">
  <ion-row>
    <swiper #swiper>
      <ng-template swiperSlide>1</ng-template>
      <ng-template swiperSlide>2</ng-template>
      <ng-template swiperSlide>4</ng-template>
    </swiper>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-slides #registerSlider [options]="slideOpts" class="banner_slide">
        <ion-slide>
          <div class="content">
            <div class="red_btn">Health</div>
            <h4>Loses over 30kg on keto diet and one meal a day</h4>
            <p>
              <a href="#!" class="mr-1">
                <ion-icon name="person-outline"></ion-icon>
                Nazrul</a
              >
              <a href="#!" class="mr-1">
                <ion-icon name="calendar-outline" class="mr-1"></ion-icon>
                21 March</a
              ><span>
                <ion-icon name="bar-chart-outline"></ion-icon>
                3 min read</span
              >
            </p>
          </div>
          <img src="../../../assets/images/banner1.jpg" class="banner_img" />
        </ion-slide>
        <ion-slide>
          <div class="content">
            <div class="red_btn">Health</div>
            <h4>Loses over 30kg on keto diet and one meal a day</h4>
            <p>
              <a href="#!" class="mr-1">
                <ion-icon name="person-outline"></ion-icon>
                Nazrul</a
              >
              <a href="#!" class="mr-1">
                <ion-icon name="calendar-outline" class="mr-1"></ion-icon>
                21 March</a
              ><span>
                <ion-icon name="bar-chart-outline"></ion-icon>
                3 min read</span
              >
            </p>
          </div>
          <img src="../../../assets/images/banner2.jpg" class="banner_img" />
        </ion-slide>
        <ion-slide>
          <div class="content">
            <div class="red_btn">Health</div>
            <h4>Loses over 30kg on keto diet and one meal a day</h4>
            <p>
              <a href="#!" class="mr-1">
                <ion-icon name="person-outline"></ion-icon>
                Nazrul</a
              >
              <a href="#!" class="mr-1">
                <ion-icon name="calendar-outline" class="mr-1"></ion-icon>
                21 March</a
              ><span>
                <ion-icon name="bar-chart-outline"></ion-icon>
                3 min read</span
              >
            </p>
          </div>
          <img src="../../../assets/images/banner3.jpg" class="banner_img" />
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-row class="mt10">
    <ion-col size="12" *ngFor="let landingData of landingPageData">
      <ion-text class="text-small"> {{landingData.AppLandingPageText}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-slides
        #registerSlider
        [options]="slideOpts"
        class="banner_slide"
        *ngIf="pastPrograms.length"
      >
        <ion-slide *ngFor="let program of pastPrograms; let index=index;">
          <div class="content">
            <div class="red_btn">
              {{program.ProgramName | titlecase}} {{program.ProgramType | titlecase}}
            </div>
            <h4>{{program.AboutProgram ? program.AboutProgram : 'N/A'}}</h4>
            <p>
              <a href="#!" class="mr-1"><ion-icon name="person-outline"></ion-icon>Nazrul</a>
              <a href="#!" class="mr-1"
                ><ion-icon name="calendar-outline" class="mr-1"></ion-icon>
                {{program.ProgramDateTime | date : 'short'}}</a
              >
              <!-- <span><ion-icon name="bar-chart-outline"></ion-icon>3 min read</span> -->
            </p>
          </div>
          <!-- <img
            *ngIf="program.ProgramMultiMedia[0].MediaType == 'PHOTO'"
            src="{{'https://mpcd.solyn.in' + program.ProgramMultiMedia[0].MediaPath}}"
            class="banner_img"
          /> -->
        </ion-slide>
        <!-- <ion-slide>
          <div class="content">
            <div class="red_btn">Health</div>
            <h4>Loses over 30kg on keto diet and one meal a day</h4>
            <p>
              <a href="#!" class="mr-1"><ion-icon name="person-outline"></ion-icon>Nazrul</a>
              <a href="#!" class="mr-1"
                ><ion-icon name="calendar-outline" class="mr-1"></ion-icon> 21 March</a
              ><span><ion-icon name="bar-chart-outline"></ion-icon>3 min read</span>
            </p>
          </div>
          <img src="../../../assets/images/banner2.jpg" class="banner_img" />
        </ion-slide>
        <ion-slide>
          <div class="content">
            <div class="red_btn">Health</div>
            <h4>Loses over 30kg on keto diet and one meal a day</h4>
            <p>
              <a href="#!" class="mr-1"><ion-icon name="person-outline"></ion-icon>Nazrul</a>
              <a href="#!" class="mr-1"
                ><ion-icon name="calendar-outline" class="mr-1"></ion-icon> 21 March</a
              ><span><ion-icon name="bar-chart-outline"></ion-icon>3 min read</span>
            </p>
          </div>
          <img src="../../../assets/images/banner3.jpg" class="banner_img" />
        </ion-slide> -->
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-row class="mt20">
    <ion-col size="12" class="catagories_slider">
      <h3 class="m-0">Top Catagories</h3>
      <ion-slides>
        <ion-slide>
          <ion-row>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Sports</div>
              </div>
              <img src="../../../assets/images/slide1.jpg" class="slide2_img" />
            </ion-col>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Fashion</div>
              </div>
              <img src="../../../assets/images/slide2.jpg" class="slide2_img" />
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Tech</div>
              </div>
              <img src="../../../assets/images/slide3.jpg" class="slide2_img" />
            </ion-col>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Gadgets</div>
              </div>
              <img src="../../../assets/images/slide4.jpg" class="slide2_img" />
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Health</div>
              </div>
              <img src="../../../assets/images/slide5.jpg" class="slide2_img" />
            </ion-col>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Politics</div>
              </div>
              <img src="../../../assets/images/slide6.jpg" class="slide2_img" />
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>

  <ion-row class="mt20">
    <ion-col size="6">
      <h3 class="m-0 p-0">Trending</h3>
    </ion-col>
    <ion-col size="6" class="ion-text-end">
      <a href="#!" class="red_btn">View All</a>
    </ion-col>
  </ion-row>
  <ion-card class="blue_card">
    <ion-row>
      <ion-col size="4">
        <img src="../../../assets/images/trending_img1.jpg" class="trending_img" />
      </ion-col>
      <ion-col size="8">
        <h6 class="mb10">
          <a href="#!">Swimming is a good exercise for the body</a>
        </h6>
        <a href="#!" class="green_btn mr-1">Sports</a>
        <a href="#!">2 Aug 2022</a>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="blue_card">
    <ion-row>
      <ion-col size="4">
        <img src="../../../assets/images/trending_img2.jpg" class="trending_img" />
      </ion-col>
      <ion-col size="8">
        <h6 class="mb10">
          <a href="#!">Swimming is a good exercise for the body</a>
        </h6>
        <a href="#!" class="green_btn mr-1">Tech</a>
        <a href="#!">2 Aug 2022</a>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="blue_card">
    <ion-row>
      <ion-col size="4">
        <img src="../../../assets/images/trending_img3.jpg" class="trending_img" />
      </ion-col>
      <ion-col size="8">
        <h6 class="mb10">
          <a href="#!">Swimming is a good exercise for the body</a>
        </h6>
        <a href="#!" class="green_btn mr-1">Fashion</a>
        <a href="#!">2 Aug 2022</a>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row class="mt20">
    <ion-col size="12" class="product_slide">
      <h1 class="text-white ion-text-center text-yellow">
        <ion-icon name="shield-checkmark-outline"></ion-icon>
      </h1>
      <h4 class="text-white ion-text-center mb20">Editorial Choice</h4>
      <ion-slides pager="true" #productSlider>
        <ion-slide>
          <ion-row>
            <ion-col size="6">
              <img src="../../../assets/images/slide1.jpg" class="slide2_img" />
            </ion-col>
            <ion-col size="6" class="ion-text-start">
              <div class="see_green_btn mb10">Sports</div>
              <h5>
                <a href="#!" class="text-white">Basketball is becoming popular young people</a>
              </h5>
              <p class="mt20">
                <a href="#!" class="mr-1 text-white"
                  ><ion-icon name="person-outline"></ion-icon>Nazrul</a
                >
                <a href="#!" class="text-white"
                  ><ion-icon name="calendar-outline"></ion-icon> 30 March</a
                >
              </p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col size="6">
              <img src="../../../assets/images/slide3.jpg" class="slide2_img" />
            </ion-col>
            <ion-col size="6" class="ion-text-start">
              <div class="see_green_btn mb10">Sports</div>
              <h5>
                <a href="#!" class="text-white">Basketball is becoming popular young people</a>
              </h5>
              <p class="mt20">
                <a href="#!" class="mr-1 text-white"
                  ><ion-icon name="person-outline"></ion-icon>Nazrul</a
                >
                <a href="#!" class="text-white"
                  ><ion-icon name="calendar-outline"></ion-icon> 30 March</a
                >
              </p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col size="6">
              <img src="../../../assets/images/slide5.jpg" class="slide2_img" />
            </ion-col>
            <ion-col size="6" class="ion-text-start">
              <div class="see_green_btn mb10">Sports</div>
              <h5>
                <a href="#!" class="text-white">Basketball is becoming popular young people</a>
              </h5>
              <p class="mt20">
                <a href="#!" class="mr-1 text-white"
                  ><ion-icon name="person-outline"></ion-icon>Nazrul</a
                >
                <a href="#!" class="text-white"
                  ><ion-icon name="calendar-outline"></ion-icon> 30 March</a
                >
              </p>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>

  <ion-row class="mt20">
    <ion-col size="6">
      <h3 class="m-0 p-0">For You</h3>
    </ion-col>
    <ion-col size="6" class="ion-text-end">
      <a href="#!" class="red_btn">View All</a>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-card class="foryou_card">
        <ion-icon name="bookmark-outline" class="bookmark"></ion-icon>
        <div class="content">
          <p class="text-yellow">Sports</p>
          <p class="text-white mb0">Lemon is useful to lose weight</p>
        </div>
        <img src="../../../assets/images/slide1.jpg" />
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="foryou_card">
        <ion-icon name="bookmark-outline" class="bookmark"></ion-icon>
        <div class="content">
          <p class="text-yellow">Fashion</p>
          <p class="text-white mb0">Lemon is useful to lose weight</p>
        </div>
        <img src="../../../assets/images/slide2.jpg" />
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="foryou_card">
        <ion-icon name="bookmark-outline" class="bookmark"></ion-icon>
        <div class="content">
          <p class="text-yellow">Tech</p>
          <p class="text-white mb0">Lemon is useful to lose weight</p>
        </div>
        <img src="../../../assets/images/slide3.jpg" />
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="foryou_card">
        <ion-icon name="bookmark-outline" class="bookmark"></ion-icon>
        <div class="content">
          <p class="text-yellow">Gadgets</p>
          <p class="text-white mb0">Lemon is useful to lose weight</p>
        </div>
        <img src="../../../assets/images/slide4.jpg" />
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-segment class="btn-segment mt20">
    <ion-segment-button class="btn-segment" value="Newest">
      <ion-label>Newest</ion-label>
    </ion-segment-button>
    <ion-segment-button class="btn-segment" value="Popular">
      <ion-label>Popular</ion-label>
    </ion-segment-button>
    <ion-segment-button class="btn-segment" value="Featured">
      <ion-label>Featured</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card class="blue_tab_card">
    <ion-row class="mb10">
      <ion-col size="4">
        <img src="../../../assets/images/trending_img1.jpg" class="trending_img" />
      </ion-col>
      <ion-col size="8">
        <h6 class="mb10">
          <a href="#!">Balcony gardening is a new trend of big cities</a>
        </h6>
        <a href="#!" class="mr-1">Mayaj</a> |
        <a href="#!" class="ml-1">9 min read</a>
      </ion-col>
    </ion-row>
    <ion-row class="mb10">
      <ion-col size="4">
        <img src="../../../assets/images/trending_img2.jpg" class="trending_img" />
      </ion-col>
      <ion-col size="8">
        <h6 class="mb10">
          <a href="#!">The world is becoming polluted very fast and lives are being destroyed</a>
        </h6>
        <a href="#!" class="mr-1">Nazrul</a> |
        <a href="#!" class="ml-1">27 min read</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <img src="../../../assets/images/trending_img3.jpg" class="trending_img" />
      </ion-col>
      <ion-col size="8">
        <h6 class="mb10">
          <a href="#!">Sea is polluted in a terrible way by human garbage</a>
        </h6>
        <a href="#!" class="mr-1">Suha</a> |
        <a href="#!" class="ml-1">95 min read</a>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row class="mt20">
    <ion-col size="12">
      <h3 class="mb20">Popular Tags</h3>
      <p>
        <a class="red_btn mr-1 mb10" href="#">#Politics</a
        ><a class="green_btn mr-1 mb10" href="#">#Fashion</a
        ><a class="orange_btn mr-1 mb10" href="#">#Tech</a
        ><a class="danger_btn mr-1 mb10" href="#">#Lifestyle</a
        ><a class="blue_btn mr-1 mb10" href="#">#Sports</a
        ><a class="green_btn mr-1 mb10" href="#">#World</a
        ><a class="orange_btn mr-1 mb10" href="#">#Environment</a
        ><a class="danger_btn mr-1 mb10" href="#">#People</a
        ><a class="blue_btn mr-1 mb10" href="#">#Gadgets</a
        ><a class="green_btn mr-1 mb10" href="#">#Health</a
        ><a class="red_btn mb10" href="#">#Wildlife</a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>
