<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon class="back-button" name="arrow-back-outline" (click)="navigateToHome()"></ion-icon>
    </ion-buttons>
    <ion-title class="text-center">कला विधाये / Art Category</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <ion-row>
      <ion-col size="6" *ngFor="let category of categories">
        <ion-card (click)="openSubCategory(category)" class="foryou_card">
          <div class="content">
            <a class="red_btn">{{category.ArtCategoryName}}</a>
          </div>
          <img
            src="{{category.PicturePath ? mediaUrl+ category.PicturePath :'https://jusmarktech.in/Culture/img/bg-img/category/cat1.jpeg'}}"
          />
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
