<ion-header>
  <ion-toolbar>
    <ion-title>कलाकार श्रेणी / Artist Category</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="12" class="catagories_slider">
      <h3 class="m-0">Top Catagories</h3>
      <ion-slides>
        <ion-slide>
          <ion-row>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Sports</div>
              </div>
              <img src="../../../assets/images/slide1.jpg" class="slide2_img" />
            </ion-col>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Fashion</div>
              </div>
              <img src="../../../assets/images/slide2.jpg" class="slide2_img" />
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Tech</div>
              </div>
              <img src="../../../assets/images/slide3.jpg" class="slide2_img" />
            </ion-col>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Gadgets</div>
              </div>
              <img src="../../../assets/images/slide4.jpg" class="slide2_img" />
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Health</div>
              </div>
              <img src="../../../assets/images/slide5.jpg" class="slide2_img" />
            </ion-col>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Politics</div>
              </div>
              <img src="../../../assets/images/slide6.jpg" class="slide2_img" />
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <div class="ion-padding">
    <ion-row class="mt20">
      <ion-col size="12">
        <h3 class="m-0 p-0">All Catagory</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="foryou_card">
          <div class="content">
            <a href="#!" class="red_btn">शास्त्रीय / classical</a>
          </div>
          <img src="../../../assets/images/cat1.jpg" />
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="foryou_card">
          <div class="content">
            <a href="#!" class="red_btn">उप शास्त्रीय / sub classical</a>
          </div>
          <img src="../../../assets/images/cat2.jpg" />
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="foryou_card">
          <div class="content">
            <a href="#!" class="red_btn">आधुनिक कला / modern Art</a>
          </div>
          <img src="../../../assets/images/cat3.jpg" />
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="foryou_card">
          <div class="content">
            <a href="#!" class="red_btn">लोक एवं आदिवासी / folk and tribal</a>
          </div>
          <img src="../../../assets/images/cat4.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
