<ion-header>
  <ion-toolbar>
    <ion-title>Bookmark</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-row>
    <ion-col size="6">
      <h3 class="m-0 p-0">For You</h3>
    </ion-col>
    <ion-col size="6" class="ion-text-end">
      <p>12 Posts</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card class="foryou_card">
        <ion-icon name="bookmark-outline" class="bookmark"></ion-icon>
        <div class="content">
          <p class="text-yellow">Sports</p>
          <p class="text-white mb0">Lemon is useful to lose weight</p>
        </div>
        <img src="../../../assets/images/slide1.jpg" />
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="foryou_card">
        <ion-icon name="bookmark-outline" class="bookmark"></ion-icon>
        <div class="content">
          <p class="text-yellow">Fashion</p>
          <p class="text-white mb0">Lemon is useful to lose weight</p>
        </div>
        <img src="../../../assets/images/slide2.jpg" />
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="foryou_card">
        <ion-icon name="bookmark-outline" class="bookmark"></ion-icon>
        <div class="content">
          <p class="text-yellow">Tech</p>
          <p class="text-white mb0">Lemon is useful to lose weight</p>
        </div>
        <img src="../../../assets/images/slide3.jpg" />
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="foryou_card">
        <ion-icon name="bookmark-outline" class="bookmark"></ion-icon>
        <div class="content">
          <p class="text-yellow">Gadgets</p>
          <p class="text-white mb0">Lemon is useful to lose weight</p>
        </div>
        <img src="../../../assets/images/slide4.jpg" />
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="foryou_card">
        <ion-icon name="bookmark-outline" class="bookmark"></ion-icon>
        <div class="content">
          <p class="text-yellow">Gadgets</p>
          <p class="text-white mb0">Lemon is useful to lose weight</p>
        </div>
        <img src="../../../assets/images/slide5.jpg" />
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="foryou_card">
        <ion-icon name="bookmark-outline" class="bookmark"></ion-icon>
        <div class="content">
          <p class="text-yellow">Gadgets</p>
          <p class="text-white mb0">Lemon is useful to lose weight</p>
        </div>
        <img src="../../../assets/images/slide6.jpg" />
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
