<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"
      >{{ activeRoute.snapshot.paramMap.get("param") | titlecase }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- Live programs [OPEN]-->
  <div class="mb10" *ngIf="activeRoute.snapshot.paramMap.get('param') == 'live now'">
    <ion-row *ngFor="let programDetails of livePrograms; let index = index">
      <ion-slides pager="true" [options]="slideOptsOne">
        <ion-slide>
          <img src="{{ mediaUrl + programDetails?.BannerImagePath1 }}" class="banner_img" />
        </ion-slide>
        <ion-slide>
          <img src="{{ mediaUrl + programDetails?.BannerImagePath2 }}" class="banner_img" />
        </ion-slide>
      </ion-slides>
      <ion-col size=".5" class="py-50"></ion-col>
      <ion-col size="11.5" class="py-50">
        <span id="h3">{{ programDetails.ProgramName }}</span>
      </ion-col>
      <ion-col size=".4" class="pb-20"></ion-col>

      <ion-col size="8" class="pb-20">
        <a href="{{ programDetails.LiveStreamingLink }}" target="_blank">
          <ion-text>
            <ion-icon class="text-danger blink_me" name="radio-button-on"></ion-icon>
            &nbsp; <b>Live Now</b></ion-text
          ></a
        >
      </ion-col>
      <ion-col size="3.6" class="pb-20">
        <ion-text class="text-small">1200 viewing</ion-text>
      </ion-col>
    </ion-row>
  </div>
  <!-- Live programs [CLOSE]-->

  <!-- Today's programs [OPEN]-->
  <div class="ion-padding" *ngIf="activeRoute.snapshot.paramMap.get('param') == paramString">
    <ion-row class="mt20">
      <ion-col size="12">
        <h5 class="m-0 p-0">
          <span class="border_bottom_red">आज के कार्यक्रम</span
          ><span class="mt10 d-block">Today's Program</span>
        </h5>
      </ion-col>
    </ion-row>
    <ion-card class="blue_card" *ngFor="let program of todayPrograms">
      <ion-row>
        <ion-col size="4" (click)="viewProgramDetails(program, true)">
          <img
            src="{{
              program.DisplayPicturePath
                ? mediaUrl + program.DisplayPicturePath
                : '../../../assets/images/b3.jpg'
            }}"
            class="trending_img"
          />
        </ion-col>
        <ion-col size="8">
          <h6 class="mb10">
            <h6 class="mb10" (click)="viewProgramDetails(program, true)">
              <a>{{ program.ProgramName }} </a>
            </h6>
          </h6>
          <p class="mt5">
            {{ program.ProgramStartDate }} | {{ program.ProgramEndDate }} <br />
            {{ program.StartTime }} To {{ program.EndTime }}
          </p>
          <a class="see_green_btn mr-1"
            >स्थान: {{ program.Venue ? program.Venue : program.CityName }}</a
          >
          <a>{{ program.ProgramDateTime | date: "short":"IST" }}</a>
          <p
            class="mt10"
            style="white-space: pre-wrap"
            [ngClass]="{ limitTextHeight: isReadMorePara }"
          >
            {{ program.AboutProgram }}
          </p>
          <u>
            <a *ngIf="program.AboutProgram" (click)="showPara()">
              {{ isReadMorePara ? "Read More" : "Read Less" }}
            </a></u
          >
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <!-- Today's programs [CLOSE]-->

  <!-- Upcoming programs [OPEN]-->
  <div
    class="ion-padding"
    *ngIf="activeRoute.snapshot.paramMap.get('param') == 'upcoming programs'"
  >
    <ion-card class="blue_card" *ngFor="let program of upcomingPrograms; let index = index">
      <ion-row>
        <ion-col size="4" (click)="viewProgramDetails(program)">
          <img
            src="{{
              program.DisplayPicturePath
                ? mediaUrl + program.DisplayPicturePath
                : '../../../assets/images/b3.jpg'
            }}"
            class="trending_img"
          />
        </ion-col>
        <ion-col size="8">
          <h6 class="mb10" (click)="viewProgramDetails(program)">
            <ion-text color="dark">{{ program.ProgramName }}</ion-text>
          </h6>
          <a class="mr-1" class="{{ index % 2 !== 0 ? 'orange_btn' : 'see_green_btn' }}"
            >स्थान: {{ program.Venue }}</a
          >
          <p class="mt5">
            {{ program.ProgramStartDate }} | {{ program.ProgramEndDate }} <br />
            {{ program.StartTime }} To {{ program.EndTime }}
          </p>
          <!-- <p class="mt10">देशभक्ति आधारित स्वराज संस्थान संचालनालय</p> -->
          <p class="mt10" style="white-space: pre-wrap" [ngClass]="{ limitTextHeight: isReadMore }">
            {{ program.AboutProgram }}
          </p>
          <u>
            <a *ngIf="program.AboutProgram" (click)="showText()">
              {{ isReadMore ? "Read More" : "Read Less" }}
            </a></u
          >
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <!-- Upcoming programs [CLOSE]-->

  <!-- Archive programs [OPEN]-->
  <div class="ion-padding" *ngIf="activeRoute.snapshot.paramMap.get('param') == 'archive programs'">
    <ion-card class="blue_card" *ngFor="let program of pastPrograms; let index = index">
      <ion-row>
        <ion-col size="4" (click)="viewProgramDetails(program)">
          <img
            src="{{
              program.DisplayPicturePath
                ? mediaUrl + program.DisplayPicturePath
                : '../../../assets/images/b3.jpg'
            }}"
            class="trending_img"
          />
        </ion-col>
        <ion-col size="8">
          <h6 class="mb10" (click)="viewProgramDetails(program)">
            <ion-text color="dark">{{ program.ProgramName }}</ion-text>
          </h6>
          <a class="mr-1" class="{{ index % 2 !== 0 ? 'orange_btn' : 'see_green_btn' }}"
            >स्थान: {{ program.Venue ? program.Venue : program.CityName }}</a
          ><br />
          <p class="mt5">
            {{
              program.ProgramStartDate == program.ProgramEndDate
                ? program.ProgramStartDate
                : program.ProgramStartDate + " | " + program.ProgramEndDate
            }}
            <br />
            {{
              program.StartTime == program.EndTime
                ? program.StartTime
                : program.StartTime + " To " + program.EndTime
            }}
          </p>
          <p class="mt10" style="white-space: pre-wrap" [ngClass]="{ limitTextHeight: isMorePara }">
            {{ program.AboutProgram }}
          </p>
          <u>
            <a *ngIf="program.AboutProgram" (click)="showMorePara()">
              {{ isMorePara ? "Read More" : "Read Less" }}
            </a></u
          >
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <!-- Archive programs [CLOSE]-->
</ion-content>
