<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"
      >{{ activeRoute.snapshot.paramMap.get("param") | titlecase }} Programs</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- Today's programs [OPEN]-->
  <div class="ion-padding" *ngIf="activeRoute.snapshot.paramMap.get('param') == paramString">
    <ion-row class="mt20">
      <ion-col size="12">
        <h5 class="m-0 p-0">
          <span class="border_bottom_red">आज के कार्यक्रम</span
          ><span class="mt10 d-block">Today's Program</span>
        </h5>
      </ion-col>
    </ion-row>
    <ion-card
      class="blue_card"
      (click)="viewProgramDetails(program, true)"
      *ngFor="let program of todayPrograms"
    >
      <ion-row>
        <ion-col size="4">
          <img
            src="{{
              program.ProgramMultiMedia.length
                ? mediaUrl + program.ProgramMultiMedia[0].MediaPath
                : '../../../assets/images/b3.jpg'
            }}"
            class="trending_img"
          />
        </ion-col>
        <ion-col size="8">
          <h6 class="mb10">
            <h6 class="mb10">
              <a>{{ program.ProgramName }} </a>
            </h6>
          </h6>
          <p class="mt5">
            {{ program.ProgramStartDate }} | {{ program.ProgramEndDate }} <br />
            {{ program.StartTime }} To {{ program.EndTime }}
          </p>
          <a class="see_green_btn mr-1"
            >स्थान: {{ program.Venue ? program.Venue : program.CityName }}</a
          >
          <a>{{ program.ProgramDateTime | date: "short":"IST" }}</a>
          <p class="mt10" style="white-space: pre-wrap">{{ program.AboutProgram }}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <!-- Today's programs [CLOSE]-->

  <!-- Upcoming programs [OPEN]-->
  <div class="ion-padding" *ngIf="activeRoute.snapshot.paramMap.get('param') == 'upcoming'">
    <ion-card
      class="blue_card"
      (click)="viewProgramDetails(program)"
      *ngFor="let program of upcomingPrograms; let index = index"
    >
      <ion-row>
        <ion-col size="4">
          <img
            src="{{
              program.ProgramMultiMedia.length
                ? mediaUrl + program.ProgramMultiMedia[0].MediaPath
                : '../../../assets/images/b3.jpg'
            }}"
            class="trending_img"
          />
        </ion-col>
        <ion-col size="8">
          <h6 class="mb10">
            <ion-text color="dark">{{ program.ProgramName }}</ion-text>
          </h6>
          <a class="mr-1" class="{{ index % 2 !== 0 ? 'orange_btn' : 'see_green_btn' }}"
            >स्थान: {{ program.Venue }}</a
          >
          <p class="mt5">
            {{ program.ProgramStartDate }} | {{ program.ProgramEndDate }} <br />
            {{ program.StartTime }} To {{ program.EndTime }}
          </p>
          <!-- <p class="mt10">देशभक्ति आधारित स्वराज संस्थान संचालनालय</p> -->
          <p class="mt10" style="white-space: pre-wrap">{{ program.AboutProgram }}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <!-- Upcoming programs [CLOSE]-->

  <!-- Archive programs [OPEN]-->
  <div class="ion-padding" *ngIf="activeRoute.snapshot.paramMap.get('param') == 'archive'">
    <ion-card
      class="blue_card"
      (click)="viewProgramDetails(program)"
      *ngFor="let program of pastPrograms; let index = index"
    >
      <ion-row>
        <ion-col size="4">
          <img
            src="{{
              program.ProgramMultiMedia.length
                ? mediaUrl + program.ProgramMultiMedia[0].MediaPath
                : '../../../assets/images/b3.jpg'
            }}"
            class="trending_img"
          />
        </ion-col>
        <ion-col size="8">
          <h6 class="mb10">
            <ion-text color="dark">{{ program.ProgramName }}</ion-text>
          </h6>
          <a class="mr-1" class="{{ index % 2 !== 0 ? 'orange_btn' : 'see_green_btn' }}"
            >स्थान: {{ program.Venue ? program.Venue : program.CityName }}</a
          ><br />
          <p class="mt5">
            {{
              program.ProgramStartDate == program.ProgramEndDate
                ? program.ProgramStartDate
                : program.ProgramStartDate + " | " + program.ProgramEndDate
            }}
            <br />
            {{
              program.StartTime == program.EndTime
                ? program.StartTime
                : program.StartTime + " To " + program.EndTime
            }}
          </p>
          <p class="mt20">{{ program.AboutProgram }}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <!-- Archive programs [CLOSE]-->
</ion-content>
