::ng-deep.item-inner {
    border: none!important;;
}

.menu-bg{--background: #dcebfd;}
// .menu-bg{border-radius: 0;overflow: hidden;--background: url(/assets/images/side_menu_bg.jpg) 0 0/cover no-repeat #fff; padding-top: 100px;}
.menu-bg ion-item{--background: #dcebfd;}
ion-item{--border-color: transparent !important; font-size: 14px; color: #000 !important;padding: 5px 0;}
ion-list ion-item:last-child{--border-color: transparent !important;}
ion-item {border: none !important;}
.pt50{padding-top: 50px;}
.text-bold, ion-icon {font-weight: 800;}
ion-icon{color:#67696c; margin-inline-end: 10px;}
.flashing-effect{
    animation: flashingeffect 2s linear 1s infinite;
}
.red-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #e42f08;
}
ion-menu{
    --width:245px;
}

.blink_me {
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}