<ion-header>
  <ion-toolbar>
    <ion-title>Trending</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="6">
      <h3 class="m-0 p-0">Trending</h3>
    </ion-col>
    <ion-col size="6" class="ion-text-end">
      <p>9 Posts</p>
    </ion-col>
  </ion-row>
  <ion-card class="blue_card">
    <ion-row>
      <ion-col size="4">
        <img
          src="../../../assets/images/trending_img1.jpg"
          class="trending_img"
        />
      </ion-col>
      <ion-col size="8">
        <h6 class="mb10">
          <a href="#!">Swimming is a good exercise for the body</a>
        </h6>
        <a href="#!" class="green_btn mr-1">Sports</a>
        <a href="#!">2 Aug 2022</a>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="blue_card">
    <ion-row>
      <ion-col size="4">
        <img
          src="../../../assets/images/trending_img2.jpg"
          class="trending_img"
        />
      </ion-col>
      <ion-col size="8">
        <h6 class="mb10">
          <a href="#!">Swimming is a good exercise for the body</a>
        </h6>
        <a href="#!" class="red_btn mr-1">Tech</a> <a href="#!">2 Aug 2022</a>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="blue_card">
    <ion-row>
      <ion-col size="4">
        <img
          src="../../../assets/images/trending_img3.jpg"
          class="trending_img"
        />
      </ion-col>
      <ion-col size="8">
        <h6 class="mb10">
          <a href="#!">Swimming is a good exercise for the body</a>
        </h6>
        <a href="#!" class="orange_btn mr-1">Fashion</a>
        <a href="#!">2 Aug 2022</a>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="blue_card">
    <ion-row>
      <ion-col size="4">
        <img
          src="../../../assets/images/trending_img1.jpg"
          class="trending_img"
        />
      </ion-col>
      <ion-col size="8">
        <h6 class="mb10">
          <a href="#!">Swimming is a good exercise for the body</a>
        </h6>
        <a href="#!" class="green_btn mr-1">Sports</a>
        <a href="#!">2 Aug 2022</a>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="blue_card">
    <ion-row>
      <ion-col size="4">
        <img
          src="../../../assets/images/trending_img2.jpg"
          class="trending_img"
        />
      </ion-col>
      <ion-col size="8">
        <h6 class="mb10">
          <a href="#!">Swimming is a good exercise for the body</a>
        </h6>
        <a href="#!" class="red_btn mr-1">Tech</a> <a href="#!">2 Aug 2022</a>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="blue_card">
    <ion-row>
      <ion-col size="4">
        <img
          src="../../../assets/images/trending_img3.jpg"
          class="trending_img"
        />
      </ion-col>
      <ion-col size="8">
        <h6 class="mb10">
          <a href="#!">Swimming is a good exercise for the body</a>
        </h6>
        <a href="#!" class="orange_btn mr-1">Fashion</a>
        <a href="#!">2 Aug 2022</a>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="blue_card">
    <ion-row>
      <ion-col size="4">
        <img
          src="../../../assets/images/trending_img1.jpg"
          class="trending_img"
        />
      </ion-col>
      <ion-col size="8">
        <h6 class="mb10">
          <a href="#!">Swimming is a good exercise for the body</a>
        </h6>
        <a href="#!" class="green_btn mr-1">Sports</a>
        <a href="#!">2 Aug 2022</a>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="blue_card">
    <ion-row>
      <ion-col size="4">
        <img
          src="../../../assets/images/trending_img2.jpg"
          class="trending_img"
        />
      </ion-col>
      <ion-col size="8">
        <h6 class="mb10">
          <a href="#!">Swimming is a good exercise for the body</a>
        </h6>
        <a href="#!" class="red_btn mr-1">Tech</a> <a href="#!">2 Aug 2022</a>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="blue_card">
    <ion-row>
      <ion-col size="4">
        <img
          src="../../../assets/images/trending_img3.jpg"
          class="trending_img"
        />
      </ion-col>
      <ion-col size="8">
        <h6 class="mb10">
          <a href="#!">Swimming is a good exercise for the body</a>
        </h6>
        <a href="#!" class="orange_btn mr-1">Fashion</a>
        <a href="#!">2 Aug 2022</a>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <a href="#!" class="load_more_btn mr-1">Load More</a>
    </ion-col>
  </ion-row>
</ion-content>
