<ion-app>
  <ion-content class="ion-padding login_top">
    <div class="login_img">
      <img src="../../../assets/images/mp-logo.png" width="100" />
    </div>
    <ion-row class="mt10 fnt-bold">
      <ion-col size="8"
        ><ion-text
          ><b> {{ isEnglish ? "Sign Up Here !" : language.doRegister }}</b></ion-text
        ></ion-col
      >
      <ion-col size="4" class="ion-text-right">
        <select name="cars" id="cars" (change)="languageSwitch($event.target)">
          <option [selected]="!isEnglish" value="hindi">हिन्दी</option>
          <option [selected]="isEnglish" value="english">English</option>
        </select>
      </ion-col>
    </ion-row>

    <button
      type="submit"
      class="button_roundad"
      [ngClass]="{'deselected_btn': signupType === 'artist'}"
      (click)="toggleStatus('audience')"
    >
      {{ isEnglish ? "Audience Registration" : language.audienceRegister }}
    </button>
    <ng-container *ngIf="signupType == 'artist'">
      <form
        [formGroup]="signupForm"
        (ngSubmit)="submit(signupForm.valid, signupForm.value)"
        class=""
      >
        <ion-list>
          <ion-row class="mt10">
            <ion-col size="12" class="relative">
              <ion-text>Mobile No. <span class="text-danger">*</span></ion-text>
              <ion-input placeholder="" required formControlName="MobileNo"></ion-input>
            </ion-col>
            <ion-col size="12" class="relative">
              <ion-text>Artist Name <span class="text-danger">*</span></ion-text>
              <ion-input placeholder="" required formControlName="ArtistName"></ion-input>
            </ion-col>
            <ion-col size="12" class="relative">
              <ion-text>Password <span class="text-danger">*</span></ion-text>
              <ion-input
                placeholder=""
                required
                type="password"
                formControlName="Password"
              ></ion-input>
            </ion-col>
            <ion-col size="12" class="relative">
              <ion-text>Confirm Password <span class="text-danger">*</span></ion-text>

              <ion-input
                placeholder=""
                type="password"
                required
                formControlName="ConfirmPassword"
              ></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="3" class="mb30">
              <button
                type="submit"
                [ngStyle]="{
            'background-color': signupForm.invalid ? '#ff00009e' : 'red'
          }"
                [disabled]="!signupForm.valid"
              >
                Next
              </button>
              <ion-col size="2"></ion-col>
            </ion-col>
            <ion-col size="3" class="mb30">
              <button class="cancel" routerLink="" type="button">Cancel</button>
            </ion-col>
            <ion-col size="2"></ion-col>
            <ion-col size="12" class="ion-text-center">
              <p>Already have an account? <a routerLink="../../signup">Login</a></p>
            </ion-col>
          </ion-row>
        </ion-list>
      </form>
    </ng-container>
    <app-audience-registration
      *ngIf="signupType == 'audience'"
      [isEnglish]="isEnglish"
    ></app-audience-registration>
  </ion-content>
</ion-app>
