<ion-header>
  <ion-toolbar>
    <ion-title>Favourite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ul class="page-nav">
    <li>
      <a href="#!">Home <ion-icon name="chevron-forward-outline"></ion-icon></a>
    </li>
    <li>
      <a href="#!"
        >Blog Details <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!">Live <ion-icon name="chevron-forward-outline"></ion-icon></a>
    </li>
    <li>
      <a href="#!"
        >Search <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Profile <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Profile for Viewer <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Catagory <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Single Catagory <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Trending Post <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Bookmark Post <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Change Password <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Forget Password <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Forget Password Success<i class="lni lni-chevron-right"></i
      ></a>
    </li>
    <li>
      <a href="#!"
        >Login <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Register <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Settings <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Contact <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Error - 404 <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >About Us <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!">Privacy Policy<i class="lni lni-chevron-right"> </i></a>
    </li>
    <li>
      <a href="#!"
        >Alerts <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Badges <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Buttons <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Cards <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Carousel <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Collapse <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Forms <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Media object <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Modal <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Pagination <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Progress <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
    <li>
      <a href="#!"
        >Tooltips <ion-icon name="chevron-forward-outline"></ion-icon
      ></a>
    </li>
  </ul>
</ion-content>
