<ion-header translucent="false">
  <ion-toolbar class="toolbar-content">
    <ion-text> एम पी कल्चर ऐप, मध्य प्रदेश, संस्कृति विभाग</ion-text>
  </ion-toolbar>
  <ion-row class="header-area">
    <ion-col size="1.5">
      <ion-buttons name="main" class="mt21">
        <ion-menu-button>
          <ion-icon name="grid-outline" id="icons"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-col>
    <ion-col size="2.5" class="mt10">
      <div class="login_img">
        <img src="../../../assets/images/15aug.jpeg" width="100px" height="85px" />
      </div>
    </ion-col>
    <ion-col size="4.5" class="">
      <div class="login_img">
        <img src="../../../assets/images/mp-logo.png" width="100px" />
      </div>
    </ion-col>
    <ion-col size="3.5" class="ion-text-end mt30">
      <img src="../../../assets/images/about.png" class="about_img" />
    </ion-col>
  </ion-row>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row>
    <!-- <ion-col> -->
    <ion-slides pager="true" [options]="slideOptsOne" *ngIf="landingImages">
      <ion-slide *ngFor="let landingData of landingImages; let index=index">
        <img src="{{mediaUrl + landingData?.PhotoPath}}" class="banner_img" />
      </ion-slide>
    </ion-slides>
    <!-- </ion-col> -->
  </ion-row>
  <ion-row class="mt10 ion-padding" *ngIf="landingPageData">
    <ion-col size="8">
      <span class="border_bottom_red">हमारे बारे में / About Us</span>
    </ion-col>
    <ion-col class="mt10" size="12" *ngFor="let landingData of landingPageData">
      <p class="text-justify" style="white-space: pre-wrap">{{landingData.AppLandingPageText}}</p>
    </ion-col>
  </ion-row>

  <!-- <ion-row class="mt20">
    <ion-col size="12" class="catagories_slider">
      <h3 class="m-0">Top Catagories</h3>
      <ion-slides>
        <ion-slide>
          <ion-row>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Sports</div>
              </div>
              <img src="../../../assets/images/slide1.jpg" class="slide2_img" />
            </ion-col>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Fashion</div>
              </div>
              <img src="../../../assets/images/slide2.jpg" class="slide2_img" />
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Tech</div>
              </div>
              <img src="../../../assets/images/slide3.jpg" class="slide2_img" />
            </ion-col>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Gadgets</div>
              </div>
              <img src="../../../assets/images/slide4.jpg" class="slide2_img" />
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Health</div>
              </div>
              <img src="../../../assets/images/slide5.jpg" class="slide2_img" />
            </ion-col>
            <ion-col size="6">
              <div class="content">
                <div class="red_btn">Politics</div>
              </div>
              <img src="../../../assets/images/slide6.jpg" class="slide2_img" />
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row> -->

  <!-- Today's programs [OPEN]-->
  <div class="ion-padding">
    <ion-row class="mt20">
      <ion-col size="12">
        <h5 class="m-0 p-0">
          <span class="border_bottom_red">आज के कार्यक्रम</span
          ><span class="mt10 d-block">Today's Program</span>
        </h5>
      </ion-col>
      <!-- <ion-col size="6" class="ion-text-end">
        <a class="red_btn" (click)="viewAllUpcomingProgram()">View All</a>
      </ion-col> -->
    </ion-row>
    <ion-card class="blue_card" *ngFor="let program of todaysPrograms">
      <ion-row>
        <ion-col size="4" (click)="viewProgramDetails(program, true)">
          <img
            src="{{program.ProgramMultiMedia.length ? (mediaUrl+ program.ProgramMultiMedia[0].MediaPath) :'../../../assets/images/b3.jpg'}}"
            class="trending_img"
          />
        </ion-col>
        <ion-col size="8">
          <h6 class="mb10">
            <h6 class="mb10" (click)="viewProgramDetails(program, true)">
              <a>{{program.ProgramName}} </a>
            </h6>
          </h6>
          <a class="see_green_btn mr-1"
            >स्थान: {{program.Venue ? program.Venue : program.CityName}}</a
          >
          <p class="mt5">
            {{program.ProgramStartDate }} | {{program.ProgramEndDate }} <br />
            {{program.StartTime}} To {{program.EndTime }}
          </p>
          <a>{{program.ProgramDateTime | date:'short':'IST'}}</a>
          <p
            class="mt10"
            style="white-space: pre-wrap"
            [ngClass]="{'limitTextHeight': isReadMorePara}"
          >
            {{program.AboutProgram}}
          </p>
          <u>
            <a *ngIf="program.AboutProgram" (click)="showPara()">
              {{ isReadMorePara ? 'Read More': 'Read Less' }}
            </a></u
          >
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <!-- Today's programs [CLOSE]-->

  <!-- Upcoming programs [OPEN]-->
  <div class="ion-padding">
    <ion-row class="mt20">
      <ion-col size="6">
        <h5 class="m-0 p-0">
          <span class="border_bottom_red">आगामी कार्यक्रम</span
          ><span class="mt10 d-block">Upcoming Program</span>
        </h5>
      </ion-col>
      <ion-col size="6" class="ion-text-end">
        <a class="red_btn" (click)="viewAllUpcomingProgram()">View All</a>
      </ion-col>
    </ion-row>
    <ion-card class="blue_card" *ngFor="let program of upcomingPrograms">
      <ion-row>
        <ion-col size="4" (click)="viewProgramDetails(program)">
          <img
            src="{{program.ProgramMultiMedia.length ? mediaUrl+ program.ProgramMultiMedia[0].MediaPath :'../../../assets/images/b3.jpg'}}"
            class="trending_img"
          />
        </ion-col>
        <ion-col size="8">
          <h6 class="mb10">
            <h6 class="mb10" (click)="viewProgramDetails(program)">
              <a>{{program.ProgramName}} </a>
            </h6>
          </h6>
          <a class="see_green_btn mr-1"
            >स्थान: {{program.Venue ? program.Venue : program.CityName}}</a
          >
          <a>{{program.ProgramDateTime | date:'short':'IST'}}</a>
          <p class="mt10" style="white-space: pre-wrap" [ngClass]="{'limitTextHeight': isReadMore}">
            {{program.AboutProgram}}
          </p>
          <u>
            <a *ngIf="program.AboutProgram" (click)="showText()">
              {{ isReadMore ? 'Read More': 'Read Less' }}
            </a></u
          >
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <!-- Upcoming programs [CLOSE]-->

  <!-- Artist Category [OPEN]-->
  <div class="ion-padding">
    <!-- <ion-row class="mt20">
      <ion-col size="6">
        <h5 class="m-0 p-0">
          <span class="border_bottom_red">कलाकार श्रेणी</span
          ><span class="mt10 d-block">Artist Category</span>
        </h5>
      </ion-col>
      <ion-col size="6" class="ion-text-end">
        <a class="red_btn">View All</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="foryou_card">
          <div class="content">
            <a class="red_btn">शास्त्रीय / classical</a>
          </div>
          <img src="../../../assets/images/cat1.jpg" />
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="foryou_card">
          <div class="content">
            <a class="red_btn">उप शास्त्रीय / sub classical</a>
          </div>
          <img src="../../../assets/images/cat2.jpg" />
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="foryou_card">
          <div class="content">
            <a class="red_btn">आधुनिक कला / modern Art</a>
          </div>
          <img src="../../../assets/images/cat3.jpg" />
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="foryou_card">
          <div class="content">
            <a class="red_btn">लोक एवं आदिवासी / folk and tribal</a>
          </div>
          <img src="../../../assets/images/cat4.jpg" />
        </ion-card>
      </ion-col>
    </ion-row> -->

    <ion-row class="mt20">
      <ion-col size="8">
        <h5 class="m-0 p-0">
          <span class="border_bottom_red">मासिक लोकप्रिय कार्यक्रम</span
          ><span class="mt10 d-block"> Monthly Popular Program's </span>
        </h5>
      </ion-col>
      <!-- <ion-col size="4" class="ion-text-end">
        <a class="red_btn">View All</a>
      </ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="foryou_card">
          <ion-icon name="bookmark-outline" class="bookmark"></ion-icon>
          <div class="content">
            <a class="gray_btn">Mrinalini<br />नृत्य/Dancer</a>
          </div>
          <img src="../../../assets/images/b5.jpg" />
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="foryou_card">
          <ion-icon name="bookmark-outline" class="bookmark"></ion-icon>
          <div class="content">
            <a class="gray_btn"> Bhuri Bai<br />चित्रकारी / painting</a>
          </div>
          <img src="../../../assets/images/b6.jpg" />
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="foryou_card">
          <ion-icon name="bookmark-outline" class="bookmark"></ion-icon>
          <div class="content">
            <a class="gray_btn">Sreetoma<br />गायन/Singer</a>
          </div>
          <img src="../../../assets/images/b7.jpg" />
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="foryou_card">
          <ion-icon name="bookmark-outline" class="bookmark"></ion-icon>
          <div class="content">
            <a class="gray_btn">Rishav Ishu<br />Actor</a>
          </div>
          <img src="../../../assets/images/b8.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <!-- Artist Category [CLOSE]-->
</ion-content>
