<ion-header translucent="false">
  <ion-toolbar class="toolbar-content">
    <ion-text> एम पी कल्चर ऐप, मध्य प्रदेश, संस्कृति विभाग</ion-text>
  </ion-toolbar>
  <ion-row class="header-area">
    <ion-col size="1.5">
      <ion-buttons name="main" class="mt21">
        <ion-menu-button>
          <ion-icon name="grid-outline" id="icons"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-col>
    <ion-col size="2.5" class="mt10">
      <div class="login_img">
        <img src="../../../assets/images/15aug.jpeg" width="100px" height="85px" />
      </div>
    </ion-col>
    <ion-col size="4.5" class="">
      <div class="login_img">
        <img src="../../../assets/images/mp-logo.png" width="100px" />
      </div>
    </ion-col>
    <ion-col size="3.5" class="ion-text-end mt30">
      <img src="../../../assets/images/about.png" class="about_img" />
    </ion-col>
  </ion-row>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row>
    <!-- <ion-col> -->
    <ion-slides pager="true" [options]="slideOptsOne" *ngIf="landingImages">
      <ion-slide *ngFor="let landingData of landingImages; let index=index">
        <img src="{{mediaUrl + landingData?.PhotoPath}}" class="banner_img" />
      </ion-slide>
    </ion-slides>
    <!-- </ion-col> -->
  </ion-row>
  <ion-row class="mt10 ion-padding" *ngIf="landingPageData">
    <ion-col size="8">
      <span class="border_bottom_red">हमारे बारे में / About Us</span>
    </ion-col>
    <ion-col class="mt10" size="12" *ngFor="let landingData of landingPageData">
      <p class="text-justify" style="white-space: pre-wrap">{{landingData.AppLandingPageText}}</p>
    </ion-col>
  </ion-row>

  <!-- Today's programs [OPEN]-->
  <div class="ion-padding">
    <ion-row class="mt20">
      <ion-col size="12">
        <span class="border_bottom_red">आज के कार्यक्रम</span>
        <span class="mt10 d-block">Today's Program</span>
      </ion-col>
    </ion-row>
    <ion-card class="blue_card" *ngFor="let program of todaysPrograms">
      <ion-row *ngIf="todaysPrograms.length">
        <ion-col size="4" (click)="viewProgramDetails(program)">
          <img
            src="{{program?.DisplayPicturePath ? (mediaUrl+ program.DisplayPicturePath) :'../../../assets/images/b3.jpg'}}"
            class="trending_img"
          />
        </ion-col>
        <ion-col size="8" (click)="viewProgramDetails(program)">
          <h6 class="mb10">
            <h6 class="mb10">
              <a>{{program.ProgramName}} </a>
            </h6>
          </h6>
          <a class="see_green_btn mr-1"
            >स्थान: {{program.Venue ? program.Venue : program.CityName}}</a
          >
          <p class="mt5">
            {{program.ProgramStartDate }} | {{program.ProgramEndDate }} <br />
            {{program.StartTime}} To {{program.EndTime }}
          </p>
          <a>{{program.ProgramDateTime | date:'short':'IST'}}</a>
          <p
            class="mt10"
            style="white-space: pre-wrap"
            [ngClass]="{'limitTextHeight': isReadMorePara}"
          >
            {{program.AboutProgram}}
          </p>
          <u>
            <a *ngIf="program.AboutProgram"> {{ isReadMorePara ? 'Show More': 'Show Less' }} </a></u
          >
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <!-- Today's programs [CLOSE]-->

  <!-- Upcoming programs [OPEN]-->
  <div class="ion-padding">
    <ion-row class="mt20">
      <ion-col size="6">
        <span class="border_bottom_red">आगामी कार्यक्रम</span
        ><span class="mt10 d-block">Upcoming Program</span>
      </ion-col>
      <ion-col size="6" class="ion-text-end">
        <a class="view_all" (click)="viewAllUpcomingProgram()">View All</a>
      </ion-col>
    </ion-row>
    <ion-card
      class="blue_card"
      *ngFor="let program of upcomingPrograms"
      (click)="viewProgramDetails(program)"
    >
      <ion-row>
        <ion-col size="4">
          <img
            src="{{program.DisplayPicturePath ? mediaUrl+ program.DisplayPicturePath :'../../../assets/images/b3.jpg'}}"
            class="trending_img"
          />
        </ion-col>
        <ion-col size="8">
          <h6 class="mb10">
            <h6 class="mb10">
              <a>{{program.ProgramName}} </a>
            </h6>
          </h6>
          <a class="see_green_btn mr-1"
            >स्थान: {{program.Venue ? program.Venue : program.CityName}}</a
          >
          <a>{{program.ProgramDateTime | date:'short':'IST'}}</a>
          <p class="mt10" style="white-space: pre-wrap" [ngClass]="{'limitTextHeight': isReadMore}">
            {{program.AboutProgram}}
          </p>
          <u> <a *ngIf="program.AboutProgram"> {{ isReadMore ? 'Show More': 'Show Less' }} </a></u>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <!-- Upcoming programs [CLOSE]-->

  <!-- Monthly programs [OPEN]-->
  <div class="ion-padding">
    <ion-row class="mt20">
      <ion-col size="8">
        <span class="border_bottom_red">मासिक लोकप्रिय कार्यक्रम</span
        ><span class="mt10 d-block"> Monthly Popular Program's </span>
      </ion-col>
      <!-- <ion-col size="4" class="ion-text-end">
        <a class="red_btn">View All</a>
      </ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col size="6" *ngFor="let program of monthlyPrograms">
        <ion-card class="foryou_card">
          <ion-icon name="bookmark-outline" class="bookmark"></ion-icon>
          <div class="content">
            <a class="red_btn">{{program.ProgramName}}</a>
          </div>
          <img
            width="100px"
            height="150px"
            src="{{program.DisplayPicturePath ? mediaUrl + program.DisplayPicturePath : 'https://jusmarktech.in/Culture/img/bg-img/program/program3.jpeg' }}"
          />
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <!-- Monthly programs [CLOSE]-->
</ion-content>
