<ion-app>
  <ion-content class="ion-padding login_top">
    <div class="login_img">
      <img src="../../../assets/images/mp-logo.png" width="100" />
    </div>
    <ion-grid>
      <ion-row class="mt10 fnt-bold">
        <ion-col size="8"
          ><ion-text>
            {{ isEnglish ? "Audience Registration" : language.audienceRegister }}</ion-text
          ></ion-col
        >
        <ion-col size="4" class="ion-text-right">
          <select name="cars" id="cars" (change)="languageSwitch($event.target)">
            <option [selected]="!isEnglish" value="hindi">हिन्दी</option>
            <option [selected]="isEnglish" value="english">English</option>
          </select>
        </ion-col>
      </ion-row>
      <form [formGroup]="signupForm" (ngSubmit)="submit(signupForm.valid, signupForm.value)">
        <ion-list>
          <ion-row>
            <ion-col size="12" class="relative">
              <ion-text
                >{{ isEnglish ? "Name" : language.name }}
                <span class="text-danger">*</span></ion-text
              >
              <ion-input formControlName="FullName"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="relative">
              <ion-text>
                {{ isEnglish ? "Mobile Number" : language.mobileNo
                }}<span class="text-danger">*</span></ion-text
              >
              <ion-input
                type="number"
                class="readonly"
                readonly="true"
                formControlName="MobileNo"
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="relative">
              <ion-text>
                {{ isEnglish ? "Email" : language.email
                }}<span class="text-danger">*</span></ion-text
              >
              <ion-input
                id="email"
                name="email"
                placeholder=""
                formControlName="EmailId"
                required
              ></ion-input>
              <ion-text
                color="danger"
                *ngIf="
                  !signupForm.get('EmailId').hasError('EmailId') &&
                    signupForm.get('EmailId').hasError('required') &&
                    (signupForm.get('EmailId').dirty || signupForm.get('EmailId').touched);
                  else errorValidator
                "
              >
                * Email Id is Required
              </ion-text>
              <ng-template #errorValidator>
                <!-- <ion-text color="danger" *ngIf="signupForm.get('EmailId').errors"
                  >Enter valid email id</ion-text
                > -->
              </ng-template>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="relative">
              <ion-text>{{ isEnglish ? "Address" : language.address }}</ion-text>
              <ion-input placeholder="" formControlName="Address"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="relative">
              <ion-text>{{ isEnglish ? "Country" : language.country }}</ion-text>

              <ion-select
                interface="popover"
                placeholder="Select Country"
                formControlName="Country"
              >
                <ion-select-option value="India">India</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="relative">
              <ion-text>{{ isEnglish ? "State" : language.state }}</ion-text>
              <ion-select interface="popover" placeholder="Select State" formControlName="StateId">
                <ion-select-option [value]="1">Rajsthan</ion-select-option>
                <ion-select-option [value]="2">Uttar Pradesh</ion-select-option>
                <ion-select-option [value]="3">Maharastra</ion-select-option>
                <ion-select-option [value]="0">Madhya Pradesh</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="relative">
              <ion-text>{{ isEnglish ? "District" : language.district }}</ion-text>
              <ion-select
                interface="popover"
                placeholder="Select District"
                formControlName="DistrictId"
              >
                <ion-select-option
                  [value]="district.DistrictId"
                  *ngFor="let district of districtArr"
                  >{{ district.DistrictName }}</ion-select-option
                >
              </ion-select>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col size="12" class="relative">
              <ion-text>Village/City</ion-text>
              <ion-input
                id="CityName"
                name="CityName"
                placeholder="City/Village"
                formControlName="CityName"
              ></ion-input>
            </ion-col>
          </ion-row>
           -->
          <ion-row>
            <ion-col size="8">
              <ion-text>
                {{ isEnglish ? "Birth Date" : language.dob }}
                <span class="text-danger">*</span></ion-text
              >

              <input type="date" formControlName="DateOfBirth" id="field_birthDate" />
            </ion-col>
            <ion-col size="4">
              <ion-text>{{ isEnglish ? "Age" : language.age }}</ion-text>
              <ion-input
                placeholder=""
                type="number"
                readonly="true"
                formControlName="Age"
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p id="theme-text">
                <ion-text>
                  {{
                    isEnglish
                      ? "Through which medium you want information about the program?"
                      : language.isNotification
                  }}
                </ion-text>
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-checkbox
                formControlName="EmailNotificationRequired"
                value="false"
              ></ion-checkbox>
              <ion-text class="pad-5">{{ isEnglish ? "By Email" : language.fromEmail }}</ion-text>
              <!-- <ion-radio-group formControlName="EmailNotificationRequired">
                <ion-radio value="email"></ion-radio>
                <ion-text>{{ isEnglish ? "By Email" : language.fromEmail }}</ion-text>
              </ion-radio-group> -->
            </ion-col>
            <ion-col size="6">
              <ion-checkbox
                formControlName="MobileNotificationRequired"
                value="false"
              ></ion-checkbox>
              <ion-text class="pad-5">{{ isEnglish ? "By SMS" : language.fromSMS }}</ion-text>
              <!-- <ion-radio-group formControlName="MobileNotificationRequired">
                <ion-radio value="sms"></ion-radio>
                <ion-text>{{ isEnglish ? "By SMS" : language.fromSMS }}</ion-text>
              </ion-radio-group> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h5>
                <ion-text>{{ isEnglish ? "Disclaimer" : language.disclaimer }}</ion-text>
              </h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-text
                >1.
                {{
                  isEnglish ? "The information given by me is correct." : language.disclaimer1
                }}</ion-text
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-text>
                2.
                {{
                  isEnglish
                    ? "I will not have any objection in case the information given by me is used for departmental use."
                    : language.disclaimer2
                }}
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-checkbox formControlName="iAgree"></ion-checkbox>&nbsp;
                <ion-text>{{ isEnglish ? "I Agree" : language.disclaimer3 }}</ion-text>
              </ion-col>
            </ion-row>
          </ion-row>
          <ion-row *ngIf="!signupForm.controls['iAgree'].value">
            <ion-col size="4"></ion-col>
            <ion-col size="4">
              <button class="skip" type="submit" routerLink="">
                {{ isEnglish ? "Skip" : language.skip }}
              </button>
            </ion-col>
            <ion-col size="4"></ion-col>
          </ion-row>
          <ion-row *ngIf="signupForm.controls['iAgree'].value">
            <ion-col size="4" class="mb30">
              <button
                type="submit"
                [ngStyle]="{
                  'background-color': signupForm.invalid ? '#ff00009e' : 'red'
                }"
                [disabled]="!signupForm.valid"
              >
                {{ isEnglish ? "Save" : language.save }}
              </button>
              <!-- <button type="submit" [disabled]="signupForm.invalid">Save</button> -->
            </ion-col>
            <ion-col size="4" class="mb30">
              <button class="cancelBtn" type="submit" routerLink="">
                {{ isEnglish ? "Cancel" : language.cancel }}
              </button>
            </ion-col>
            <ion-col size="4" class="mb30">
              <button class="skip" type="submit" routerLink="">
                {{ isEnglish ? "Skip" : language.skip }}
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <p>
                {{ isEnglish ? "Already have an account?" : language.confirm }}
                <a routerLink="../../" (click)="goToLoginPage()">{{
                  isEnglish ? "Login" : language.loginHere
                }}</a>
              </p>
            </ion-col>
          </ion-row>
        </ion-list>
      </form>
    </ion-grid>
  </ion-content>
</ion-app>
